<div class="ui vertical fluid tabular menu">
  <a class="item">
    <img class="ui mini spaced image" src="assets/banner-ico.png" alt="logo spotify">
    Spotify
  </a>
  <a class="item" (click)="seeLanguages()">
    Languages
    <i class="dropdown icon"></i>
  </a>
  <a class="item" *ngIf="moreLanguages" [ngClass]="{'active': activeLanguage == 'en'}" (click)="switchLanguage('en')">
    English
    <img class="ui mini spaced image" src="assets/usa.svg" alt="Usa flag">
  </a>
  <a class="item" *ngIf="moreLanguages" [ngClass]="{'active': activeLanguage == 'de'}" (click)="switchLanguage('de')">
    Deutsch
    <img class="ui mini spaced image" src="assets/german.svg" alt="German flag">
  </a>
  <a class="item" *ngIf="moreLanguages" [ngClass]="{'active': activeLanguage == 'es'}" (click)="switchLanguage('es')">
    Spanish
    <img class="ui mini spaced image" src="assets/spain.svg" alt="Spain flag">
  </a>
  <a class="item" routerLink="home" routerLinkActive="active">
    <i class="home icon"></i>
    {{ 'nav-bar.home-text' | translate }}
  </a>
  <a class="item" routerLink="search" routerLinkActive="active">
    <i class="search icon"></i>
    {{ 'nav-bar.search-text' | translate }}
  </a>
  <a class="item" routerLink="/playlist" routerLinkActive="active">
    <i class="arrow left icon"></i>
    {{ 'nav-bar.playlist-text' | translate }}
  </a>
</div>
