<div *ngIf="ready">
  <button class="big ui labeled icon button" (click)="goBack()">
    <i class="left arrow icon"></i>
    {{ 'settingsPlaylist.back' | translate }}
  </button>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="ui form">
      <div class="inline fields">
        <label [class]="colorText">{{ 'settingsPlaylist.themes' | translate }}</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="theme" [checked]="btnThemeLight" (click)="toggleThemeLight()">
            <label [class]="colorText">{{ 'settingsPlaylist.light' | translate }}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="theme" [checked]="btnThemeDark" (click)="toggleThemeDark()">
            <label [class]="colorText">{{ 'settingsPlaylist.dark' | translate }}</label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="field">
      <label [class]="colorText">{{ 'settingsPlaylist.languages' | translate }}</label>
      <div class="ui vertical fuild tabular menu">
        <a id="en" class="item" [class]="colorText" (click)="switchLanguage('en')">
          {{ 'settingsPlaylist.english-language' | translate }}
          <i class="gb uk flag"></i>
        </a>
        <a id="fr" class="item" [class]="colorText" (click)="switchLanguage('fr')">
          {{ 'settingsPlaylist.french-language' | translate }}
          <i class="fr flag"></i>
        </a>
      </div>
    </div>
    <br>
    <div class="ui form">
      <div class="inline fields">
        <label [class]="colorText">{{ 'settingsPlaylist.dwellTime' | translate }}</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dwellTime"  [checked]="btnDwellTimeYes" (click)="dwellTime(true)">
            <label [class]="colorText">{{ "settingsPlaylist.enable" | translate }}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dwellTime" [checked]="btnDwellTimeNo" (click)="dwellTime(false)">
            <label [class]="colorText">{{ "settingsPlaylist.disable" | translate }}</label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="field">
      <label [class]="colorText">{{ 'settingsPlaylist.duration' | translate }}</label>
      <div id="inputDwellTime" class="ui right labeled input">
        <input type="number" step="0.5" value="{{ dwellTimeValue / 1000.0 }}" (keyup)="getValue($event)">
        <div class="ui basic label">
          sec
        </div>
      </div>
      <div *ngIf="error" class="ui error message">
        <p>Minimum = 1 !</p>
      </div>
    </div>
    <br>
    <div class="ui form">
      <div class="inline fields">
        <label [class]="colorText">{{ 'settingsPlaylist.dwellTimeForm' | translate }}</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dwellTimeShape" [checked]="btnDiskProgress" (click)="diskProgressMode(true)">
            <label [class]="colorText">{{ 'settingsPlaylist.diskProgress' | translate }}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dwellTimeShape" [checked]="btnCircleProgress" (click)="diskProgressMode(false)">
            <label [class]="colorText">{{ 'settingsPlaylist.circleProgress' | translate }}</label>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!diskProgress" class="ui form">
      <div class="inline fields">
        <label [class]="colorText">{{ 'settingsPlaylist.circleForm' | translate }}</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dwellTimeShape2" [checked]="btnSpinnerInside" (click)="dwellTimeShape(false)">
            <label [class]="colorText">{{ 'settingsPlaylist.spinnerInside' | translate }}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dwellTimeShape2" [checked]="btnSpinnerOutside" (click)="dwellTimeShape(true)">
            <label [class]="colorText">{{ 'settingsPlaylist.spinnerOutside' | translate }}</label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="ui form">
      <div class="inline fields">
        <label [class]="colorText">{{ 'settingsPlaylist.alertMessage' | translate }}</label>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="alertMessage" [checked]="btnAlertMessageYes" (click)="displayAlertMessage(true)">
            <label [class]="colorText">{{ "settingsPlaylist.yes" | translate }}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="alertMessage" [checked]="btnAlertMessageNo" (click)="displayAlertMessage(false)">
            <label [class]="colorText">{{ "settingsPlaylist.no" | translate }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="version">{{this.defaultService.VERSION}}</div>
</div>
