<div class="column" (click)="navigate(newRelease)">
  <div id="space" [ngClass]="theme" class="ui card">
    <div class="image">
      <img [src]="newRelease.images | errorImage" alt="newRelease.name">
    </div>
    <div class="content">
      <a class="header">{{ newRelease.name | uppercase}}</a>
      <div class="meta">
          <span>
            {{ newRelease.artists[0].name }}
          </span>
        <span class="ui right floated">{{ newRelease.type | uppercase }}</span>
      </div>
    </div>
  </div>
</div>
