<h1 mat-dialog-title>
  {{ "savePlaylist.title" | translate }}
</h1>
<div mat-dialog-content>
  <div class="ui form error">
    <div class="field required">
      <label>{{ 'savePlaylist.titleFile' | translate }}</label>
      <input type="text" placeholder="{{ 'savePlaylist.defaultTitleFile' | translate }}" (keyup)="getNamePlaylist($event)">
      <div class="ui error message">
        <p *ngIf="errorNameAlreadyUse">{{ "savePlaylist.errorNameAlreadyUse" | translate }}</p>
        <p *ngIf="errorNameEmpty">{{ "savePlaylist.errorNameEmpty" | translate }}</p>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="ui button" (click)="goCancel()">{{ "savePlaylist.no" | translate }}</button>
  <button class="ui button" (click)="submit()">{{ "savePlaylist.yes" | translate }}</button>
</div>
<notifier-container></notifier-container>
