div h1 span {
  vertical-align: center;
}

a {
  margin: 1em 0 1em 0;
}

span {
  font-weight: bolder;
}

img:hover {
  color: white;
  background-color: #42545c;
}
img.active {
  background-color: black;
}

iframe{
  margin-bottom: 10px;
}

/* -------------------------- CLASS --------------------------------- */

.btnVideo{
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  position: relative;
  display: inline-block;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.title{
  text-align: center;
}

.progressIndicator{
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
