div h1 span {
  vertical-align: center;
}

span {
  font-weight: bolder;
}

img:hover {
  color: white;
  background-color: #42545c;
}
img.active {
  background-color: black;
}

iframe{
  margin-bottom: 10px;
}

/* -------------------------- CLASS --------------------------------- */

.btnVideo{
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  position: relative;
  display: inline-block;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.title{
  text-align: center;
}

.btnCircular{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: opacity 5s;
}

.btnIcon{
  transform: translateX(-66%);
}

.fullScreen{
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.btnFullScreen{
  position: fixed;
  z-index: 1;
}

.header {
  margin: 1em 0 1em 0;
}

.ui.labeled.icon.menu .item{
  height: 25%;
  padding-top: 120%;
}

  /* ------------------------------ ID ------------------------------------ */

#myFileAudio{
  margin-top: 50px !important;
}

/* -------------------------- Drag&Drop --------------------------------- */

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
