<div class="ui centered grid">
  <div class="fourteen wide column">
    <h1 [ngClass]="theme" class="ui centered aligned header">
      <span>
        {{ "playlist.title" | translate }}
      </span>
    </h1>
    <div [ngClass]="theme" class="ui secondary menu">
      <div class="right menu">
        <a class="ui item" (click)="openSave()"
           matTooltip="{{'playlist.saveBtn' | translate}}"
           matTooltipPosition="before">
          <i class="save icon"></i>
        </a>
        <a class="ui item" (click)="openLoad()"
           matTooltip="{{'playlist.loadBtn' | translate}}"
           matTooltipPosition="before">
          <i class="folder open icon"></i>
        </a>
        <a class="ui item" (click)="openDelete()"
           matTooltip="{{'playlist.deleteBtn' | translate}}"
           matTooltipPosition="before">
          <i class="trash alternate icon"></i>
        </a>
        <a class="ui item" (click)="openExport()"
           matTooltip="{{'playlist.exportBtn' | translate}}"
           matTooltipPosition="before">
          <i class="upload icon"></i>
        </a>
        <a class="ui item" (click)="openImport()"
           matTooltip="{{'playlist.importBtn' | translate}}"
           matTooltipPosition="before">
          <i class="download icon"></i>
        </a>
        <a class="ui item" (click)="goEdit()"
           matTooltip="{{'playlist.editBtn' | translate}}"
           matTooltipPosition="before">
          <i class="edit icon"></i>
        </a>
        <a class="ui item" (click)="openSettings()"
           matTooltip="{{'playlist.settingsBtn' | translate}}"
           matTooltipPosition="before">
          <i class="cogs icon"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="ui four column grid" cdkDropListGroup>
      <div class="column" *ngFor="let elem of playList; let index = index; let isLast = last;">
        <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="{elem:elem, index:index}" (cdkDropListDropped)="dragDrop($event)">
          <div cdkDrag [cdkDragDisabled]="disableDragDrop">
            <div [id]="elem.id" [ngClass]="theme" class="ui card" (mouseenter)="showProgressIndicator(elem.id, index)"
                                                                  (mouseleave)="hideProgressIndicator(elem.id, index)">
              <div class="image">
                <img [src]="elem.thumbnail" alt="" (click)="openDialog(this.elem)">
              </div>
              <app-progress-indicator [id]="index" [spinnerValue]="spinnerValue"></app-progress-indicator>
              <div class="content" *ngIf="elem.types != 'btnAdd'">
                <a class="header">{{ elem.title }}</a>
                <div class="meta">
              <span class="date">
                {{ elem.artists }}
              </span>
                  <span class="ui right floated date">{{ elem.publishedAt | date:'mediumDate' }}</span>
                </div>
                <div class="description">
                  {{ elem.description?.slice(0,50) }}
                </div>
                <button class="ui right floated tiny red right labeled icon button" *ngIf="edit" (click)="goDelete(this.elem)">
                  {{ "playlist.delete" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div *ngIf="launch" class="ui three column grid centered">
      <div class="btnVideo right aligned">
        <button id="previousBtn" class="ui labeled icon button btnCircular"
                (click)="goPrevious()"
                (mouseenter)="showProgressIndicator('previousBtn', idProgressIndicatorBtnPrevious); showBtn('previousBtn')"
                (mouseleave)="hideProgressIndicator('previousBtn', idProgressIndicatorBtnPrevious); hideBtn('previousBtn')">
          <div class="btnIcon">
            <i class="massive left arrow icon"></i>
          </div>
          <app-progress-indicator [id]="idProgressIndicatorBtnPrevious" [spinnerValue]="spinnerValue"></app-progress-indicator>
        </button>
      </div>
      <iframe *ngIf="currentElem.types == 'YouTube'" id="myYoutubeVideo" class="ui header"
              [width]="width"
              [height]="height"
              [src]="currentElem.id | yt"
              allowtransparency="true"
              allow="autoplay">
      </iframe>
      <iframe *ngIf="currentElem.types == 'Spotify'" id="mySpotifySong" class="ui header"
              [src]="currentElem.id | uri"
              [width]="width"
              [height]="height"
              allowtransparency="true"
              allow="encrypted-media">
      </iframe>
      <iframe *ngIf="currentElem.types == 'Deezer'" id="myDeezerSong" class="ui header"
              [src]="currentElem.id | dz"
              [width]="width"
              [height]="height"
              allowtransparency="true"
              allow="encrypted-media">
      </iframe>
      <div *ngIf="currentElem.types == 'song'" id="myFileAudio" class="ui header">
        <app-audio-player *ngIf="refresh == false" [elemPlaylist]="currentElem" [src]="getSrcFile()"></app-audio-player>
      </div>
      <div *ngIf="currentElem.types == 'video'" class="ui header">
        <figure>
          <figcaption>{{ currentElem.title }}</figcaption>
          <video controls
                 preload="metadata"
                 [width]="width"
                 [height]="height"
                 id="myVideo" class="" #myVideo>
            <source [src]="getSrcFile()">
          </video>
          <figcaption>{{ currentElem.artists }}</figcaption>
        </figure>
      </div>
      <div class="btnVideo left aligned">
        <button id="nextBtn" class="ui labeled icon button btnCircular"
                (click)="goNext()"
                (mouseenter)="showProgressIndicator('nextBtn', idProgressIndicatorBtnNext); showBtn('nextBtn')"
                (mouseleave)="hideProgressIndicator('nextBtn', idProgressIndicatorBtnNext); hideBtn('nextBtn')">
          <div class="btnIcon">
            <i class="massive right arrow icon"></i>
          </div>
          <app-progress-indicator [id]="idProgressIndicatorBtnNext" [spinnerValue]="spinnerValue"></app-progress-indicator>
        </button>
      </div>
      <div class=" row aligned">
        <button id="playBtn" class="ui labeled icon button btnCircular"
                (click)="goPlay()"
                (mouseenter)="showProgressIndicator('playBtn', idProgressIndicatorBtnPlay); showBtn('playBtn')"
                (mouseleave)="hideProgressIndicator('playBtn', idProgressIndicatorBtnPlay); hideBtn('playBtn')">
          <div class="btnIcon">
            <i class="massive play icon"></i>
          </div>
          <app-progress-indicator [id]="idProgressIndicatorBtnPlay" [spinnerValue]="spinnerValue"></app-progress-indicator>
        </button>
        <button id="pauseBtn" class="ui labeled icon button btnCircular"
                (click)="goPause()"
                (mouseenter)="showProgressIndicator('pauseBtn', idProgressIndicatorBtnPause); showBtn('pauseBtn')"
                (mouseleave)="hideProgressIndicator('pauseBtn', idProgressIndicatorBtnPause); hideBtn('pauseBtn')">
          <div class="btnIcon">
            <i class="massive pause icon"></i>
          </div>
          <app-progress-indicator [id]="idProgressIndicatorBtnPause" [spinnerValue]="spinnerValue"></app-progress-indicator>
        </button>
        <button id="minusBtn" class="ui labeled icon button btnCircular"
                (click)="goDecreaseVolume()"
                (mouseenter)="showProgressIndicator('minusBtn', idProgressIndicatorBtnMinus); showBtn('minusBtn')"
                (mouseleave)="hideProgressIndicator('minusBtn', idProgressIndicatorBtnMinus); hideBtn('minusBtn')">
          <div class="btnIcon">
            <i class="massive minus icon"></i>
          </div>
          <app-progress-indicator [id]="idProgressIndicatorBtnMinus" [spinnerValue]="spinnerValue"></app-progress-indicator>
        </button>
        <button id="plusBtn" class="ui labeled icon button btnCircular"
                (click)="goIncreaseVolume()"
                (mouseenter)="showProgressIndicator('plusBtn', idProgressIndicatorBtnPlus); showBtn('plusBtn')"
                (mouseleave)="hideProgressIndicator('plusBtn', idProgressIndicatorBtnPlus); hideBtn('plusBtn')">
          <div class="btnIcon">
            <i class="massive plus icon"></i>
          </div>
          <app-progress-indicator [id]="idProgressIndicatorBtnPlus" [spinnerValue]="spinnerValue"></app-progress-indicator>
        </button>
        <button *ngIf="(currentElem.types == 'video' || currentElem.types == 'YouTube')" id="screenBtn" class="ui labeled icon button btnCircular"
                (click)="goFullScreen()"
                (mouseenter)="showProgressIndicator('screenBtn', idProgressIndicatorBtnExpand); showBtn('screenBtn')"
                (mouseleave)="hideProgressIndicator('screenBtn', idProgressIndicatorBtnExpand); hideBtn('screenBtn')">
          <div class="btnIcon">
            <i id="screenIcon" class="massive expand icon"></i>
          </div>
          <app-progress-indicator [id]="idProgressIndicatorBtnExpand" [spinnerValue]="spinnerValue"></app-progress-indicator>
        </button>
      </div>
    </div>
  </div>
</div>
<notifier-container id="watchPlace"></notifier-container>
