<h1 mat-dialog-title>
  Accounts
</h1>
<div mat-dialog-content>
  <div class="ui form">
    <div class="field">
      <label>
        Spotify Accounts
      </label>
      <div class="field">
        <button class="ui button" (click)="loginSpotify()">Login Spotify</button>
        <button class="ui button" (click)="logoutSpotify()">Logout Spotify</button>
      </div>
    </div>
    <div class="field">
      <label>
        Deezer Account
      </label>
      <div class="field">
        <button class="ui button" (click)="loginDeezer()">Login Deezer</button>
        <button class="ui button" (click)="logoutDeezer()">LogoutDeezer</button>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="ui button" (click)="goCancel()">Close</button>
</div>
<notifier-container></notifier-container>
