<h1 class="title" mat-dialog-title>
  {{'chooseImage.title' | translate }}
</h1>
<div>
  <div class="container" mat-dialog-actions>
    <img [src]="imgCrab" alt="" class="image">
    <div class="middle">
      <button mat-dialog-close class="ui button" (click)="chooseImg(imgCrab)">
        {{'chooseImage.crab' | translate }}
      </button>
    </div>
  </div>
  <div class="container" mat-dialog-actions>
    <img [src]="imgSquirrel" alt="" class="image">
    <div class="middle">
      <button mat-dialog-close class="ui button" (click)="chooseImg(imgSquirrel)">
        {{'chooseImage.squirrel' | translate }}
      </button>
    </div>
  </div>
  <div class="container" mat-dialog-actions>
    <img [src]="imgHedgehog" alt="" class="image">
    <div class="middle">
      <button mat-dialog-close class="ui button" (click)="chooseImg(imgHedgehog)">
        {{'chooseImage.hedgehog' | translate }}
      </button>
    </div>
  </div>
  <div class="container" mat-dialog-actions>
    <img [src]="imgOwl" alt="" class="image">
    <div class="middle">
      <button mat-dialog-close class="ui button" (click)="chooseImg(imgOwl)">
        {{'chooseImage.owl' | translate }}
      </button>
    </div>
  </div>
  <div class="container" mat-dialog-actions>
    <img [src]="imgRabbit" alt="" class="image">
    <div class="middle">
      <button mat-dialog-close class="ui button" (click)="chooseImg(imgRabbit)">
        {{'chooseImage.rabbit' | translate }}
      </button>
    </div>
  </div>
  <div class="container" mat-dialog-actions>
    <img [src]="imgAstonished" alt="" class="image">
    <div class="middle">
      <button mat-dialog-close class="ui button" (click)="chooseImg(imgAstonished)">
        {{'chooseImage.astonished' | translate }}
      </button>
    </div>
  </div>
  <div class="container" mat-dialog-actions>
    <img [src]="imgOctopus" alt="" class="image">
    <div class="middle">
      <button mat-dialog-close class="ui button" (click)="chooseImg(imgOctopus)">
        {{'chooseImage.octopus' | translate }}
      </button>
    </div>
  </div>
  <div class="container" mat-dialog-actions>
    <img [src]="imgFox" alt="" class="image">
    <div class="middle">
      <button mat-dialog-close class="ui button" (click)="chooseImg(imgFox)">
        {{'chooseImage.fox' | translate }}
      </button>
    </div>
  </div>
  <div class="container" mat-dialog-actions>
    <img [src]="imgTurtle" alt="" class="image">
    <div class="middle">
      <button mat-dialog-close class="ui button" (click)="chooseImg(imgTurtle)">
        {{'chooseImage.turtle' | translate }}
      </button>
    </div>
  </div>
</div>
