<h1 mat-dialog-title>
  {{ "importFilePlaylist.title" | translate }}
</h1>
<div mat-dialog-content>
  <div class="ui form error">
    <div class="field">
      <label>{{ "importFilePlaylist.type" | translate }}</label>
      <div class="inline fields">
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="type" checked="checked" (click)="getTypeSong()">
            <label>{{ "importFilePlaylist.song" | translate }}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="type" (click)="getTypeVideo()">
            <label>{{ "importFilePlaylist.video" | translate }}</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="type" (click)="getTypeFile()">
            <label>{{ "importFilePlaylist.file" | translate }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="required field" *ngIf="typeFile != 'file'">
      <label>{{ titleFile | translate }}</label>
      <input type="text" placeholder="{{ titleFile | translate }}" (keyup)="getTitle($event)">
      <div class="ui error message">
        <p *ngIf="errorEmptyTitle">{{ "importFilePlaylist.errorEmptyTitle" | translate }}</p>
      </div>
    </div>
    <div class="field" *ngIf="typeFile != 'file'">
      <label>{{ artistFile | translate }}</label>
      <input type="text" placeholder="{{ artistFile | translate }}" (keyup)="getArtist($event)">
    </div>
    <div class="field">
      <label>{{ "importFilePlaylist.options" | translate }}</label>
      <div class="inline field">
        <div class="field" *ngIf="typeFile == 'file'">
          <div class="ui checkbox">
            <input type="radio" name="options" checked="checked" (click)="newPlaylist()">
            <label>{{ "importFilePlaylist.newPlaylist" | translate }}</label>
          </div>
        </div>
        <br>
        <div class="field" *ngIf="typeFile == 'file'">
          <div class="ui checkbox">
            <input type="radio" name="options" (click)="mergePlaylist()">
            <label>{{ "importFilePlaylist.mergePlaylist" | translate }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="required field">
      <label>{{ "importFilePlaylist.file" | translate }}</label>
      <input class="ui button" type="file" (change)="addFile($event)"/>
      <div class="ui error message">
        <p *ngIf="errorEmptyFile">{{ "importFilePlaylist.errorEmptyFile" | translate }}</p>
        <p *ngIf="errorWrongFile">{{ "importFilePlaylist.errorWrongFile" | translate }}</p>
        <p *ngIf="errorFileAlreadyInPlaylist">{{ "importFilePlaylist.errorFileAlreadyInPlaylist" | translate }}</p>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="ui button" (click)="goCancel()">{{ "importFilePlaylist.cancel" | translate }}</button>
  <button class="ui button" (click)="submit()">{{ "importFilePlaylist.add" | translate }}</button>
</div>
<notifier-container></notifier-container>
