<div class="ui four column grid">
  <div class="column" *ngFor="let video of videos">
    <div [ngClass]="theme" class="ui card">
      <div class="image">
        <img [src]="video.thumbnail" [alt]="video.title">
      </div>
      <div class="content">
        <a class="header">{{ video.title }}</a>
        <div class="meta">
          <span class="date">
            {{ video.channelTitle }}
          </span>
          <span class="ui right floated date">{{ video.publishedAt | date:'mediumDate' }}</span>
        </div>
        <div class="description">
          {{ video.description?.slice(0,50) }}...
        </div>
      </div>
      <button *ngIf="!videoAlreadyAddToPlaylist(this.video)"
              class="ui right floated tiny green right labeled icon button" (click)="addVideoToPlaylist(this.video)">
        {{ "youtubeSearchList.add" | translate }}
      </button>
      <button *ngIf="videoAlreadyAddToPlaylist(this.video)"
              class="ui right floated tiny red right labeled icon button" (click)="deleteVideoToPlaylist(this.video)">
        {{ "youtubeSearchList.delete" | translate }}
      </button>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
