<h1 mat-dialog-title>
  {{"modifyUser.title" | translate}}
</h1>
<div mat-dialog-content>
  <div class="ui form error">
    <div class="field required">
      <label>
        {{"modifyUser.name" | translate}}
      </label>
      <input type="text" placeholder="{{name}}" (keyup)="getNewNameUser($event)">
    </div>
    <div class="field required">
      <label>
        {{"modifyUser.image" | translate}}
      </label>
      <div class="ui buttons">
        <button class="ui button" (click)="inputImg.click()">
          {{"modifyUser.importImg" | translate}}
          <input hidden type="file" accept="image/*" (change)="addNewImage($event)" #inputImg/>
        </button>
        <div class="or" data-text="or"></div>
        <button class="ui button" tabindex="0" (click)="goChooseNewImg()">
          {{"modifyUser.chooseImg" | translate}}
        </button>
      </div>
    </div>
  </div>
  <br>
  <div>
    <img class="ui centered image" [src]="image" alt="">
  </div>
</div>
<div mat-dialog-actions>
  <button class="ui button" (click)="goCancel()">
    {{"modifyUser.cancel" | translate}}
  </button>
  <button class="ui button" (click)="submit()">
    {{"modifyUser.submit" | translate}}
  </button>
</div>
