<div *ngIf="elemToPlay != ''" [ngClass]="display" class="sidebar">
  <div class="ui visible horizontal bottom sidebar" [style]="styleSidebarPlayer">
    <div *ngIf="elemType == 'song'" [ngClass]="displaySidebarPlayer" class="centerElemMusic">
      <audio id="sidebarAudioPlayer" controls [src]="elemToPlay"></audio>
    </div>
    <div *ngIf="elemType == 'YouTube'" [ngClass]="displaySidebarPlayer" class="centerElemVideo">
      <iframe id="sidebarYoutubePlayer" class="ui header"
              [width]= "widthVideoPlayer"
              [height]= "heightVideoPlayer"
              [src]="elemPlaylist.id | yt"
              allowtransparency="true"
              allow="autoplay">
      </iframe>
    </div>
    <div *ngIf="elemType == 'video'" [ngClass]="displaySidebarPlayer" class="centerElemVideo">
      <video controls
             preload="auto"
             [width]="widthVideoPlayer"
             [height]="heightVideoPlayer"
             id="mySideVideo">
        <source [src]="elemToPlay">
      </video>
    </div>
    <div>
      <button class="ui right floated labeled icon button btnCircular buttonPosition" (click)="showHideSidebarPlayer()">
        <div class="btnIcon">
          <i class="massive cog icon"></i>
        </div>
      </button>
    </div>
    <div class="six ui massive buttons" [ngClass]="displaySidebarPlayer">
      <button class="ui labeled icon button" (click)="previousElem()">
        <i class="left chevron icon"></i>
        {{ "sidebarPlayer.previous" | translate }}
      </button>
      <button class="ui button" (click)="play()">
        {{ "sidebarPlayer.play" | translate }}
        <i class="play icon"></i>
      </button>
      <button class="ui button" (click)="pause()">
        {{ "sidebarPlayer.pause" | translate }}
        <i class="pause icon"></i>
      </button>
      <button class="ui button" (click)="volumeDown()">
        {{ "sidebarPlayer.volume" | translate }}
        <i class="minus icon"></i>
      </button>
      <button class="ui button" (click)="volumeUp()">
        {{ "sidebarPlayer.volume" | translate }}
        <i class="plus icon"></i>
      </button>
      <button class="ui right labeled icon button" (click)="nextElem()">
        {{ "sidebarPlayer.next" | translate }}
        <i class="right chevron icon"></i>
      </button>
    </div>
  </div>
</div>
