<div *ngIf="elemToPlay != ''" [ngClass]="display" class="sidebar">
  <div class="ui visible horizontal bottom sidebar" [style]="styleSidebarPlayer">
    <div *ngIf="elemType == 'song'" [ngClass]="displaySidebarPlayer" class="centerElem">
      <audio id="sidebarAudioPlayer" controls [src]="elemToPlay"></audio>
    </div>
    <div *ngIf="elemType == 'YouTube'" [ngClass]="displaySidebarPlayer" class="centerElem">
      <iframe id="sidebarYoutubePlayer" class="ui header"
              [width]= "widthYoutubePlayer"
              [height]= "heightYoutubePlayer"
              [src]="elemPlaylist.id | yt"
              allowtransparency="true"
              allow="autoplay">
      </iframe>
    </div>
    <div>
      <button class="ui right floated labeled icon button btnCircular" (click)="showHideSidebarPlayer()">
        <div class="btnIcon">
          <i class="massive cog icon"></i>
        </div>
      </button>
    </div>
    <div class="six ui massive buttons" [ngClass]="displaySidebarPlayer">
      <button class="ui labeled icon button" (click)="previousElem()">
        <i class="left chevron icon"></i>
        Previous
      </button>
      <button class="ui button" (click)="play()">
        Play
        <i class="play icon"></i>
      </button>
      <button class="ui button" (click)="pause()">
        Pause
        <i class="pause icon"></i>
      </button>
      <button class="ui button" (click)="volumeDown()">
        Volume
        <i class="minus icon"></i>
      </button>
      <button class="ui button" (click)="volumeUp()">
        Volume
        <i class="plus icon"></i>
      </button>
      <button class="ui right labeled icon button" (click)="nextElem()">
        Next
        <i class="right chevron icon"></i>
      </button>
    </div>
  </div>
</div>
