<div>
  <img class="ui small centered circular image" [src]="artist.picture_big" [alt]="artist.name">
  <h2 [ngClass]="theme" class="ui center aligned header">{{ artist.name }}</h2>
  <h3 [ngClass]="theme" class="ui center aligned header">{{ artist.nb_album }} {{ 'deezerArtist.albums' | translate }}</h3>
  <h3 [ngClass]="theme" class="ui center aligned header">{{ artist.nb_fan }} {{ 'deezerArtist.followers' | translate }}</h3>
  <button class="ui button" [routerLink]="['/deezer/search']">
    <i class="left arrow icon"></i>
    {{ "deezerArtist.back" | translate }}
  </button>
  <h2>{{ "deezerArtist.albums" | translate }}</h2>
  <div class="ui four column grid">
    <div *ngFor="let album of albums">
      <div class="column" (click)="seeAlbum(album)">
        <div id="space" [ngClass]="theme" class="ui card">
          <div class="image">
            <img [src]="album.cover" alt="{{ album.title }}">
          </div>
          <div class="content">
            <a class="header" [routerLink]="['/deezer/albums', album.id]">{{ album.title }}</a>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
