<div class="ui four column grid stickyInputBar">
  <div class="ten wide column centered">
    <div [ngClass]="theme" class="ui fluid action icon input">
      <button class="ui button" (click)="goPlaylist()">{{ "deezerSearch.back" | translate }}</button>
      <input name="searchInput" type="text" [(ngModel)]="searchInput" (keyup)="searchMusic()" placeholder="{{ 'deezerSearch.input' | translate }}">
      <i class="search icon"></i>
    </div>
  </div>
</div>
<div class="ui four column grid">
  <div class="column" *ngFor="let res of searchRes; let index = index;">
    <div [ngClass]="theme" class="ui card">
      <div class="image">
        <img [src]="res.artist.picture" [alt]="res.artist.name">
      </div>
      <div class="content">
        <a class="header">{{ res.artist.name }}</a>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
