<div class="ui centered grid" style="margin-top: 3rem;">
  <div class="fourteen wide column">
    <h1 [ngClass]="theme" class="ui centered aligned header">
      <span>
        Deezer Search
        <i class="music icon"></i>
      </span>
    </h1>
    <div class="ui four column grid stickyInputBar">
      <div class="ten wide column centered">
        <div [ngClass]="theme" class="ui fluid action icon input">
          <button class="ui button" (click)="goPlaylist()">{{ "deezerSearch.back" | translate }}</button>
          <input name="searchInput" type="text" [(ngModel)]="searchInput" (keyup)="searchMusic()" placeholder="{{ 'deezerSearch.input' | translate }}">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
    <div class="ui four column grid">
      <div class="column" *ngFor="let res of searchRes">
        <div [ngClass]="theme" class="ui card" (click)="navigate(res.id)">
          <div class="image">
            <img [src]="res.picture" [alt]="res.name">
          </div>
          <div class="content">
            <a class="header">{{ res.name }}</a>
            <div class="meta">
              <span class="ui right floated">{{ res.type }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
