<div class="ui centered grid">
  <div class="fourteen wide column">
    <h1 [ngClass]="theme" class="ui centered aligned header">
      <span>
        {{"user.title" | translate}}
      </span>
    </h1>
    <div class="ui cards centered">
      <div [ngClass]="theme" class="ui card" (click)="goPlaylistLikeGuest()">
        <div class="image">
          <img src="./assets/DefaultUser.png" alt="">
        </div>
        <div class="content">
          <h2 class="ui centered aligned header">
            {{"user.defaultUser" | translate}}
          </h2>
        </div>
      </div>
      <div [ngClass]="theme" class="ui card" (click)="addUser()">
        <div class="image">
          <img src="./assets/AddUser.png" alt="">
        </div>
        <div class="content">
          <h2 class="ui centered aligned header">
            {{"user.addUser" | translate}}
          </h2>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="ui four column grid">
      <div class="column" *ngFor="let elem of usersList">
        <div [ngClass]="theme" class="ui card">
          <div class="content">
            <h3 class="ui centered aligned header">
              {{elem.name}}
            </h3>
          </div>
          <div class="image">
            <img [src]="elem.thumbnail" alt="" (click)="goPlaylistLikeUser(elem.id)">
          </div>
          <button *ngIf="elem.type != 'btnAdd'" class="ui right floated tiny red right labeled icon button" (click)="goDelete(elem)">
            {{"user.delete" | translate}}
          </button>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
