<div class="ui four column grid">
  <div class="column" *ngFor="let elem of usersList">
    <div *ngIf="elem.type != 'btnAdd'" class="content">
      <a class="header">{{elem.name}}</a>
    </div>
    <div class="image">
      <img [src]="elem.thumbnail" alt="" (click)="goPlaylist(elem.type)">
    </div>
    <button *ngIf="elem.type != 'btnAdd'" class="ui right floated tiny red right labeled icon button" (click)="goDelete()">
      {{"playlist.delete" | translate}}
    </button>
  </div>
</div>
