label ,a{
  font-size: large !important;
}

.container{
  margin-left: 7%;
}

.colorLight{
  color: white !important;
}

.colorDark{
  color: black !important;
}

.langues{
  color: black !important;
}

#inputDwellTime{
  margin-left: 10px;
}
