<div *ngIf="noInternet" class="ui negative message errorContainer">
  <div class="ui centered aligned header">
    {{ "error.errorTitle" | translate }}
  </div>
  <p class="textAlign">{{ "error.errorMessage" | translate }}</p>
</div>
<div *ngIf="!noInternet" class="ui positive message errorContainer">
  <div class="ui centered aligned header">
    {{ "error.positiveTitle" | translate }}
  </div>
  <p class="textAlign">{{ "error.positiveMessage" | translate }}</p>
</div>
<div class="textAlign">
  <button class="ui button" (click)="exitApp()">{{ "error.exitApp" | translate }}</button>
  <!--<button class="ui button" (click)="checkInternetConnexion()">{{ "error.checkConnexion" | translate }}</button> -->
  <button class="ui button" (click)="goPlaylist()">{{ playlistButton | translate }}</button>
</div>
