<h1 mat-dialog-title>
  {{ 'settingsPlaylist.settings' | translate }}
</h1>
<div mat-dialog-content>
  <div class="ui form error">
    <div class="field">
      <label>
        {{ 'settingsPlaylist.themes' | translate }}
      </label>
      <div class="field">
        <div class="ui buttons">
          <button [ngClass]="themeLightValue" class="ui button" (click)="toggleThemeLight()">{{ 'settingsPlaylist.light' | translate }}</button>
          <div class="or" attr.data-text="{{'settingsPlaylist.or' | translate }}"></div>
          <button [ngClass]="themeDarkValue" class="ui button" (click)="toggleThemeDark()">{{ 'settingsPlaylist.dark' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="field">
      <label>
        {{ 'settingsPlaylist.languages' | translate }}
      </label>
      <div class="ui vertical fuild tabular menu">
        <a class="item" (click)="seeLanguages()">
          {{ 'settingsPlaylist.languages' | translate }}
          <i class="dropdown icon"></i>
        </a>
        <a id="en" class="item" *ngIf="moreLanguages" (click)="switchLanguage('en')">
          {{ 'settingsPlaylist.english-language' | translate }}
          <i class="gb uk flag"></i>
        </a>
        <a id="fr" class="item" *ngIf="moreLanguages" (click)="switchLanguage('fr')">
          {{ 'settingsPlaylist.french-language' | translate }}
          <i class="fr flag"></i>
        </a>
      </div>
    </div>
    <div class="field">
      <label>
        {{ 'settingsPlaylist.dwellTime' | translate }}
      </label>
        <div class="field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="dwellTime" [checked]="dwellTimeEnable" (click)="dwellTime()">
            <label>{{ 'settingsPlaylist.enable' | translate }}</label>
          </div>
        </div>
    </div>
    <div class="field">
      <label>
        {{ 'settingsPlaylist.duration' | translate }}
      </label>
      <div class="ui right labeled input">
        <input type="number" step="0.5" value="{{ dwellTimeValue / 1000.0 }}" (change)="getValue($event)">
        <div class="ui basic label">
          sec
        </div>
      </div>
      <div class="ui error message">
        <p *ngIf="error">Minimum = 1 !</p>
      </div>
    </div>
    <div class="field">
      <label>
        {{ 'settingsPlaylist.dwellTimeForm' | translate }}
      </label>
      <div class="field">
        <div class="ui buttons">
          <button [ngClass]="diskValue" class="ui button" (click)="diskProgressMode(true)">{{ 'settingsPlaylist.diskProgress' | translate }}</button>
          <div class="or" attr.data-text="{{'settingsPlaylist.or' | translate }}"></div>
          <button [ngClass]="circleValue" class="ui button" (click)="circleProgressMode(false)">{{ 'settingsPlaylist.circleProgress' | translate }}</button>
        </div>
      </div>
      <div *ngIf="!diskProgress" class="inline fields">
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dwellTimeShape" [checked]="!dwellTimeSpinnerOutsideBtn" (click)="dwellTimeShape(false)">
            <label>
              {{ 'settingsPlaylist.spinnerInside' | translate }}
            </label>
          </div>
        </div>
        <div class="field">
          <div class="ui radio checkbox">
            <input type="radio" name="dwellTimeShape" [checked]="dwellTimeSpinnerOutsideBtn" (click)="dwellTimeShape(true)">
            <label>
              {{ 'settingsPlaylist.spinnerOutside' | translate }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>
        {{ 'settingsPlaylist.alertMessage' | translate }}
      </label>
      <div class="field">
        <div class="ui toggle checkbox">
          <input type="checkbox" name="alertMessage" [checked]="disableAlertMessage" (click)="displayAlertMessage()">
          <label>{{ 'settingsPlaylist.enable' | translate }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="ui button" (click)="goCancel()">{{ "settingsPlaylist.cancel" | translate }}</button>
  <button class="ui button" (click)="submit()">{{ 'settingsPlaylist.save' | translate }}</button>
</div>
<notifier-container></notifier-container>
