<h1 mat-dialog-title>
  {{ 'settingsPlaylist.settings' | translate }}
</h1>
<div mat-dialog-content>
  <div class="ui form error">
    <div class="field">
      <label>
        {{ 'settingsPlaylist.themes' | translate }}
      </label>
      <div class="inline fields">
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="theme" [checked]="themeLightEnable" (click)="toggleTheme()">
            <label>
              {{ 'settingsPlaylist.light' | translate }}
            </label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="theme" [checked]="!themeLightEnable" (click)="toggleTheme()">
            <label>
              {{ 'settingsPlaylist.dark' | translate }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>
        {{ 'settingsPlaylist.languages' | translate }}
      </label>
      <div class="ui vertical fuild tabular menu">
        <a class="item" (click)="seeLanguages()">
          {{ 'settingsPlaylist.languages' | translate }}
          <i class="dropdown icon"></i>
        </a>
        <a class="item" *ngIf="moreLanguages" (click)="switchLanguage('en')">
          {{ 'settingsPlaylist.english-language' | translate }}
          <i class="gb uk flag"></i>
        </a>
        <a class="item" *ngIf="moreLanguages" (click)="switchLanguage('fr')">
          {{ 'settingsPlaylist.french-language' | translate }}
          <i class="fr flag"></i>
        </a>
      </div>
    </div>
    <div class="field">
      <label>Dwell-Time</label>
      <div class="inline fields">
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="dwellTime" [checked]="!dwellTimeEnable" (click)="dwellTime()">
            <label>
              {{ 'settingsPlaylist.no' | translate }}
            </label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="dwellTime" [checked]="dwellTimeEnable" (click)="dwellTime()">
            <label>
              {{ 'settingsPlaylist.yes' | translate }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="field">
      <label>
        {{ 'settingsPlaylist.duration' | translate }}
      </label>
      <input type="number" step="0.5" value="{{ dwellTimeValue / 1000.0 }}" (change)="getValue($event)">
      <div class="ui error message">
        <p *ngIf="error">Minimum = 1 !</p>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="ui button" (click)="submit()">{{ 'settingsPlaylist.save' | translate }}</button>
</div>
<notifier-container></notifier-container>
