<h1 mat-dialog-title>
  Settings
</h1>
<div mat-dialog-content>
  <div class="ui form">
    <div class="field">
      <label>Dwell-Time</label>
      <div class="inline fields">
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="dwellTime" [checked]="!dwellTimeEnable" (click)="dwellTime()">
            <label>No</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="dwellTime" [checked]="dwellTimeEnable" (click)="dwellTime()">
            <label>Yes</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
