.ui.checkbox label{
  color: white;
}

.ui.toggle.checkbox input:checked~label{
  color: white !important;
}

.ui.form .field>label{
  color: white;
}

.ui.vertical.tabular.menu .item{
  color: white;
}

.langues{
  color: black !important;
}
