<div>
  <div class="ui segment">
    <img class="ui small centered image" [src]="album.images | errorImage" [alt]="album.name">
    <h6 class="ui centered aligned header">{{ album.type | uppercase}}</h6>
    <h2 class="ui centered aligned header">{{ album.name }}</h2>
    <button class="ui button" (click)="goBack()">
      <i class="left arrow icon"></i>
      Back to Artist
    </button>
  </div>
  <div *ngFor="let nbTrack of album.tracks.items; let i = index">
    <iframe [src]="album.tracks.items[i].uri | uri" width="500" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <button id="alignement" class="right attached ui green button" (click)="addToPlaylist(album.tracks.items[i])">Add to Playlist</button>
  </div>
</div>
<notifier-container></notifier-container>
